.topHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 61px;
  padding: 0 265px;
  border-bottom: 1px solid rgba(63, 78, 101, 0.168627451);
}
.topHeaderLeftBlock,
.topHeaderRightBlock {
  display: flex;
}
.locationSvgContainer,
.contactUsSvgContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.topHeaderLocation,
.topHeaderContactUs {
  & div {
    font-size: 14px;
  }
  & div:nth-child(1) {
    font-weight: 500;
    line-height: 12px;
    padding-top: 6px;
  }
  & div:nth-child(2) {
    font-size: 13px;
    color: #3f4e6598;
    transition: 0.2s color ease-in-out;
  }
}
.topHeaderLocation {
  margin-right: 50px;
  cursor: pointer;
  &:hover {
    & div:nth-child(2) {
      color: #3f4e65;
    }
  }
}
.topHeaderContactUs {
  cursor: pointer;
  &:hover {
    & div:nth-child(2) {
      color: #3f4e65;
    }
  }
}
.topHeaderRightBlock {
  & div {
    font-size: 14px;
    cursor: pointer;
    color: #3f4e659e;
    transition: 0.2s color ease-in-out;
    &:hover {
      color: #3f4e65;
    }
  }
  & div:not(:last-child) {
    margin-right: 50px;
  }
}

/// Media ///
.topHeaderContainer {
  @media (max-width: 1920px) {
    justify-content: space-between;
  }
  @media (max-width: 1850px) {
    padding: 0 230px;
  }
  @media (max-width: 1800px) {
    padding: 0 205px;
  }
  @media (max-width: 1750px) {
    padding: 0 180px;
  }
  @media (max-width: 1700px) {
    padding: 0 160px;
  }
  @media (max-width: 1650px) {
    padding: 0 140px;
  }
  @media (max-width: 1600px) {
    padding: 0 100px;
  }
  @media (max-width: 1550px) {
    padding: 0 80px;
  }
  @media (max-width: 1500px) {
    padding: 0 60px;
  }
  @media (max-width: 1450px) {
    justify-content: space-evenly;
  }
  @media (max-width: 1250px) {
    flex-direction: column;
    height: 100px;
    padding: 0 20px;
  }
  @media (max-width: 600px) {
    display: none;
  }
}
/// Media ///
