.wrapper {
  display: none;
  margin-top: 20px;
}
.title {
  font-weight: 500;
  line-height: 24px;
}
.inputByProducer {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
  & input {
    border: none;
    width: 290px;
    height: 60px;
    border-radius: 36px;
    padding: 0 20px;
    background-color: #ededed;
  }
}
.btnSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: absolute;
  right: 15px;
  background-color: #ffc85e;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
  &:hover {
    background-color: #ffaa00;
  }
}

/// Media ///
.wrapper {
  @media (max-width: 600px) {
    display: inline-block;
  }
}
/// Media ///
