.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 0 15px 50px 70px;
}
.product {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px #f8f8f8;
  transition: 0.3s transform ease-in-out;
  &:hover {
    transform: scale(1.025);
  }
  & a {
    color: #000;
  }
}
.productImg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 194px;
  & img {
    width: 45%;
    height: 80%;
  }
}
.productSize {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #777777;
  & svg {
    opacity: 30%;
    margin-right: 5px;
  }
}
.productName {
  margin-top: 5px;
  line-height: 15px;
  height: 55px;
  cursor: pointer;
  & span {
    font-weight: 800;
  }
}
.productBarcode {
  margin-top: 20px;
}
.productBarcode,
.productProducer,
.productBrand {
  font-size: 15px;
  & span {
    font-size: 14px;
    font-weight: 300;
    color: #969696;
  }
}
.productFooter {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.productPrice {
  font-weight: 700;
  margin-right: 30px;
}
.productBtnInCart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 45px;
  border-radius: 80px;
  border: none;
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  background-color: #ffc85e;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
  &:hover {
    background-color: #ffb92c;
  }
}
.currentCartCounter {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  border-radius: 100px;
  margin-left: 7px;
  color: #ffaa00;
  background-color: #ffffff;
}

/// Media ///
.wrapper {
  @media (max-width: 1500px) {
    width: 100%;
  }
  @media (max-width: 900px) {
    width: auto;
  }
}
.productsContainer {
  @media (max-width: 1500px) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  @media (max-width: 1300px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (max-width: 1000px) {
    padding: 0;
    margin-top: 30px;
  }
}
.product {
  @media (max-width: 1500px) {
    width: 400px;
  }
}
/// Media ///
