.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 260px;
}
.mainContainer {
  display: flex;
  justify-content: space-between;
}

/// Media ///
.wrapper {
  @media (max-width: 1850px) {
    padding: 0 240px;
  }
  @media (max-width: 1800px) {
    padding: 0 200px;
  }
  @media (max-width: 1750px) {
    padding: 0 180px;
  }
  @media (max-width: 1700px) {
    padding: 0 160px;
  }
  @media (max-width: 1650px) {
    padding: 0 140px;
  }
  @media (max-width: 1600px) {
    padding: 0 100px;
  }
  @media (max-width: 1550px) {
    padding: 0 80px;
  }
  @media (max-width: 1500px) {
    padding: 0 60px;
  }
  @media (max-width: 1300px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  @media (max-width: 600px) {
    align-items: unset;
  }
}
.mainContainer {
  @media (max-width: 1500px) {
    justify-content: flex-start;
  }
  @media (max-width: 1300px) {
    width: 800px;
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 900px) {
    width: auto;
  }
}
/// Media ///
