.mainContainer {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 260px;
}

/// Media ///
.mainContainer {
  @media (max-width: 1850px) {
    padding: 0 240px;
  }
  @media (max-width: 1800px) {
    padding: 0 200px;
  }
  @media (max-width: 1750px) {
    padding: 0 180px;
  }
  @media (max-width: 1700px) {
    padding: 0 160px;
  }
  @media (max-width: 1650px) {
    padding: 0 140px;
  }
  @media (max-width: 1600px) {
    padding: 0 120px;
  }
  @media (max-width: 1550px) {
    padding: 0 100px;
  }
  @media (max-width: 1000px) {
    padding: 0 50px;
  }
  @media (max-width: 800px) {
    padding: 0 30px;
  }
  @media (max-width: 700px) {
    padding: 0 20px;
  }
}
/// Media ///
