.title {
  line-height: 24px;
  font-weight: 500;
}
.price {
  font-size: 14px;
  margin-top: 10px;
  color: #919191;
  & span {
    color: #000;
  }
}
.currentPriceContainer {
  display: flex;
  margin-top: 10px;
  & input {
    width: 100px;
    height: 23px;
    border-radius: 1000px;
    border: none;
    font-size: 13px;
    background-color: #ffc6504d;
    transition: 0.3s background-color ease-in-out;
    &:nth-child(1) {
      padding-left: 45px;
    }
    &:nth-child(3) {
      padding-left: 30px;
    }
    &:focus {
      background-color: #ffc550b7;
    }
    &::placeholder {
      font-size: 13px;
    }
  }
  & span {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 300;
  }
}

/// Media ///
.wrapper {
  @media (max-width: 600px) {
    display: none;
  }
}
/// Media ///
